<p>
  <strong>Cocktail name:</strong>
  <%= @cocktail.name %>
</p>


<%= link_to 'Back to all cocktails', cocktails_path  %>
<%= link_to "Update this cocktail", "/cocktails/#{@cocktail.id}/edit"  %>
<%= link_to 'Delete cocktail', "/cocktails/#{@cocktail.id}", method: :delete, data: { confirm: "Are you sure you want to delete?"}   %>

